**.swp

media/config/*/**
media/.env
!media/config/caddy/Caddyfile

collaboration/config/**
!collaboration/config/config.json
collaboration/data/**
!collaboration/data/.gitkeep
collaboration/db/**
!collaboration/db/.gitkeep
collaboration/logs/**
!collaboration/logs/.gitkeep
collaboration/.env

pihole/etc-pihole/**
!pihole/etc-pihole/pihole.toml
