**.swp

media/config/*/**
media/.env
!media/config/caddy/Caddyfile

collaboration/config
collaboration/data
collaboration/db
collaboration/logs
collaboration/.env

pihole/.env
pihole/etc-pihole/**
!pihole/etc-pihole/pihole.toml
