**.swp

media/config/*/**
media/media
media/.env
!media/config/caddy/Caddyfile

collaboration/config
collaboration/data
collaboration/db
collaboration/logs
collaboration/.env

network/.env
network/traefik/dynamic/**
!network/traefik/dynamic/tlx.yml
network/etc-pihole/**
!network/etc-pihole/pihole.toml
