version: '3.9'

services:
  # --- Node Exporter für Systemmetriken ---
  monitor:
    image: prom/node-exporter:latest
    ports:
      - "9100:9100"

  # --- Prometheus ---
  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prom/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - promdata:/prometheus
    depends_on:
      - monitor

  # --- Grafana ---
  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    volumes:
      - grafanadata:/var/lib/grafana
    depends_on:
      - prometheus

  # --- Blackbox Exporter (für HTTP / ICMP Monitoring) ---
  blackbox:
    image: prom/blackbox-exporter:latest
    ports:
      - "9115:9115"

  # --- Elasticsearch ---
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"

  # --- Kibana ---
  kibana:
    image: docker.elastic.co/kibana/kibana:8.15.0
    container_name: kibana
    depends_on:
      - elasticsearch
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"

  # --- Logstash ---
  logstash:
    image: docker.elastic.co/logstash/logstash:8.15.0
    container_name: logstash
    depends_on:
      - elasticsearch
    volumes:
      - ./logstash/pipeline:/usr/share/logstash/pipeline
    ports:
      - "5044:5044"   # für Filebeat

# --- Volumes ---
volumes:
  dbdata:
  promdata:
  grafanadata:
  esdata:

